<div class="container">
    <div class="jumbotron">
      <h1 class="font-weight-bold">Sharing-Code</h1> 
      <p class="font-italic">Bienvenido a la nueva red social para desarrolladores..</p> 
    </div>
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Enviar un mensaje" aria-label="Recipient's username" aria-describedby="button-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" id="button-addon2">Enviar</button>
        </div>
      </div> 
  </div>